body {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background-image: url(images/restaurant_icons.png);
    margin: auto 0;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: rgb(255, 145, 0);
    background-color: rgb(170, 232, 240);
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    display: block;
    margin: 50px auto;
}

div.container {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-image: url(images/hat.png);
    list-style-position: inside;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color:rgb(6, 128, 177)
}

a:hover {
    color:rgb(0, 80, 112)
}

li {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    background-color: rgb(170, 232, 240);
    border-style: ridge;
    border-width: thick;
    border-color: rgb(255, 145, 0);
    line-height: 1.5;
    margin: 10px auto 10px -50px;
    padding-left: 10px;
    padding-right: 5px;
}